<% include ./partials/header %>

  <form action="/training/<%= training._id %>?_method=PUT" method="POST">
    <input type="text" name="training[location]" value="<%= training.location %>">
    <input type="text" name="training[time]" value="<%= training.time %>">
    <input type="text" name="training[date]" value="<%= training.date %>">
    <input type="text" name="training[status]" value="<%= training.status %>">
    <input type="text" value="<%= course.name %>" readonly>
    <p> Users: <br>
      <% for(var i = 0; i < users.length; i++){ %>
        <input type = "checkbox" name = "training[users]" value = "<%= users[i]._id %>"> <%= users[i].firstname %> <%= users[i].lastname %>, <br>
      <% } %>
    </p>
    <input type="submit">
  </form>

<% include ./partials/footer %>
