<% include ./partials/header %>
    <h1>Precise</h1>

    <% var trainingClass = training %>

    <% training.forEach(function(training){ %>
      <h1> <%= training.name %> </h1>
      <h1> <%= training._id %> </h1>
      <p> <%= training.description %> </p>
      <% training.training.forEach(function(training){ %>
        <h2> <%= training.location %> </h2>
        <h4> <%= training.date %> </h4>
      <% }); %>

    <% }); %>

<% include ./partials/footer %>
