<% include ./partials/header %>

  <h1>Show route!!!!</h1>
  <p>Location: <%= training.location %></p>
  <p>Time: <%= training.time %></p>
  <p>Date: <%= training.date %></p>
  <p>Date: <%= training.status %></p>
  <p>Course: <%= course.name %></p>
  <p>Users: <%= users %></p>

  <form action="/training/<%= training._id %>?_method=DELETE" method="POST">
    <button> Delete </button>
  </form>
  <form action="/training/<%= training._id %>/edit" method="GET">
   <button> Edit </button>
  </form>




<% include ./partials/footer %>
