<% include ./partials/header %>

  <h1>Show route!!!!</h1>
  <p>Location: <%= training.location %></p>
  <p>Time: <%= training.time %></p>
  <p>Date: <%= training.date %></p>
  <p>Course: <%= training.course %></p>
  <p>Users: <%= training.users %></p>



<% include ./partials/footer %>
